DROP TABLE extract_details
GO

DROP TABLE extract_config
GO

CREATE TABLE extract_config
(id							INT IDENTITY(1,1)	NOT NULL,
 fileName					VARCHAR(100)		NOT NULL,
 fileLocation				VARCHAR(100)		NULL,
 fileType                   VARCHAR(100)		NOT NULL,
 fileDescription			VARCHAR(100)		NULL,
 worksheetName				VARCHAR(100)		NULL,
 recordCount				INT					NULL,
 rowsSkipped				INT                 NULL,			
 includeHeader				BIT					NOT NULL,
 generatedFrom              VARCHAR(100)		NULL,
 generatedFor				VARCHAR(100)		NULL,
 dateShared					DATETIME2(7)		NULL,
 created_at                 DATETIME2			NULL,
 updated_at			        DATETIME2			NULL,
 masked						BIT					NOT NULL,
CONSTRAINT pk_extract_config PRIMARY KEY CLUSTERED (id ASC) 
ON [PRIMARY] 
)
GO

----

CREATE TABLE extract_details
(id							INT IDENTITY(1,1)	NOT NULL,
 extractId					INT					NOT NULL,
 fileHeader                 BIT					NOT NULL,
 col1    VARCHAR(4000)  NULL,
 col2    VARCHAR(4000)  NULL,
 col3    VARCHAR(4000)  NULL,
 col4    VARCHAR(4000)  NULL,
 col5    VARCHAR(4000)  NULL,
 col6    VARCHAR(4000)  NULL,
 col7    VARCHAR(4000)  NULL,
 col8    VARCHAR(4000)  NULL,
 col9    VARCHAR(4000)  NULL,
 col10    VARCHAR(4000)  NULL,
 col11    VARCHAR(4000)  NULL,
 col12    VARCHAR(4000)  NULL,
 col13    VARCHAR(4000)  NULL,
 col14    VARCHAR(4000)  NULL,
 col15    VARCHAR(4000)  NULL,
 col16    VARCHAR(4000)  NULL,
 col17    VARCHAR(4000)  NULL,
 col18    VARCHAR(4000)  NULL,
 col19    VARCHAR(4000)  NULL,
 col20    VARCHAR(4000)  NULL,
 col21    VARCHAR(4000)  NULL,
 col22    VARCHAR(4000)  NULL,
 col23    VARCHAR(4000)  NULL,
 col24    VARCHAR(4000)  NULL,
 col25    VARCHAR(4000)  NULL,
 col26    VARCHAR(4000)  NULL,
 col27    VARCHAR(4000)  NULL,
 col28    VARCHAR(4000)  NULL,
 col29    VARCHAR(4000)  NULL,
 col30    VARCHAR(4000)  NULL,
 col31    VARCHAR(4000)  NULL,
 col32    VARCHAR(4000)  NULL,
 col33    VARCHAR(4000)  NULL,
 col34    VARCHAR(4000)  NULL,
 col35    VARCHAR(4000)  NULL,
 col36    VARCHAR(4000)  NULL,
 col37    VARCHAR(4000)  NULL,
 col38    VARCHAR(4000)  NULL,
 col39    VARCHAR(4000)  NULL,
 col40    VARCHAR(4000)  NULL,
 col41    VARCHAR(4000)  NULL,
 col42    VARCHAR(4000)  NULL,
 col43    VARCHAR(4000)  NULL,
 col44    VARCHAR(4000)  NULL,
 col45    VARCHAR(4000)  NULL,
 col46    VARCHAR(4000)  NULL,
 col47    VARCHAR(4000)  NULL,
 col48    VARCHAR(4000)  NULL,
 col49    VARCHAR(4000)  NULL,
 col50    VARCHAR(4000)  NULL,
 col51    VARCHAR(4000)  NULL,
 col52    VARCHAR(4000)  NULL,
 col53    VARCHAR(4000)  NULL,
 col54    VARCHAR(4000)  NULL,
 col55    VARCHAR(4000)  NULL,
 col56    VARCHAR(4000)  NULL,
 col57    VARCHAR(4000)  NULL,
 col58    VARCHAR(4000)  NULL,
 col59    VARCHAR(4000)  NULL,
 col60    VARCHAR(4000)  NULL,
 col61    VARCHAR(4000)  NULL,
 col62    VARCHAR(4000)  NULL,
 col63    VARCHAR(4000)  NULL,
 col64    VARCHAR(4000)  NULL,
 col65    VARCHAR(4000)  NULL,
 col66    VARCHAR(4000)  NULL,
 col67    VARCHAR(4000)  NULL,
 col68    VARCHAR(4000)  NULL,
 col69    VARCHAR(4000)  NULL,
 col70    VARCHAR(4000)  NULL,
 col71    VARCHAR(4000)  NULL,
 col72    VARCHAR(4000)  NULL,
 col73    VARCHAR(4000)  NULL,
 col74    VARCHAR(4000)  NULL,
 col75    VARCHAR(4000)  NULL,
 col76    VARCHAR(4000)  NULL,
 col77    VARCHAR(4000)  NULL,
 col78    VARCHAR(4000)  NULL,
 col79    VARCHAR(4000)  NULL,
 col80    VARCHAR(4000)  NULL,
 col81    VARCHAR(4000)  NULL,
 col82    VARCHAR(4000)  NULL,
 col83    VARCHAR(4000)  NULL,
 col84    VARCHAR(4000)  NULL,
 col85    VARCHAR(4000)  NULL,
 col86    VARCHAR(4000)  NULL,
 col87    VARCHAR(4000)  NULL,
 col88    VARCHAR(4000)  NULL,
 col89    VARCHAR(4000)  NULL,
 col90    VARCHAR(4000)  NULL,
 col91    VARCHAR(4000)  NULL,
 col92    VARCHAR(4000)  NULL,
 col93    VARCHAR(4000)  NULL,
 col94    VARCHAR(4000)  NULL,
 col95    VARCHAR(4000)  NULL,
 col96    VARCHAR(4000)  NULL,
 col97    VARCHAR(4000)  NULL,
 col98    VARCHAR(4000)  NULL,
 col99    VARCHAR(4000)  NULL,
 col100    VARCHAR(4000)  NULL,
 col101    VARCHAR(4000)  NULL,
 col102    VARCHAR(4000)  NULL,
 col103    VARCHAR(4000)  NULL,
 col104    VARCHAR(4000)  NULL,
 col105    VARCHAR(4000)  NULL,
 col106    VARCHAR(4000)  NULL,
 col107    VARCHAR(4000)  NULL,
 col108    VARCHAR(4000)  NULL,
 col109    VARCHAR(4000)  NULL,
 col110    VARCHAR(4000)  NULL,
 col111    VARCHAR(4000)  NULL,
 col112    VARCHAR(4000)  NULL,
 col113    VARCHAR(4000)  NULL,
 col114    VARCHAR(4000)  NULL,
 col115    VARCHAR(4000)  NULL,
 col116    VARCHAR(4000)  NULL,
 col117    VARCHAR(4000)  NULL,
 col118    VARCHAR(4000)  NULL,
 col119    VARCHAR(4000)  NULL,
 col120    VARCHAR(4000)  NULL,
 col121    VARCHAR(4000)  NULL,
 col122    VARCHAR(4000)  NULL,
 col123    VARCHAR(4000)  NULL,
 col124    VARCHAR(4000)  NULL,
 col125    VARCHAR(4000)  NULL,
 col126    VARCHAR(4000)  NULL,
 col127    VARCHAR(4000)  NULL,
 col128    VARCHAR(4000)  NULL,
 col129    VARCHAR(4000)  NULL,
 col130    VARCHAR(4000)  NULL,
 col131    VARCHAR(4000)  NULL,
 col132    VARCHAR(4000)  NULL,
 col133    VARCHAR(4000)  NULL,
 col134    VARCHAR(4000)  NULL,
 col135    VARCHAR(4000)  NULL,
 col136    VARCHAR(4000)  NULL,
 col137    VARCHAR(4000)  NULL,
 col138    VARCHAR(4000)  NULL,
 col139    VARCHAR(4000)  NULL,
 col140    VARCHAR(4000)  NULL,
 col141    VARCHAR(4000)  NULL,
 col142    VARCHAR(4000)  NULL,
 col143    VARCHAR(4000)  NULL,
 col144    VARCHAR(4000)  NULL,
 col145    VARCHAR(4000)  NULL,
 col146    VARCHAR(4000)  NULL,
 col147    VARCHAR(4000)  NULL,
 col148    VARCHAR(4000)  NULL,
 col149    VARCHAR(4000)  NULL,
 col150    VARCHAR(4000)  NULL,
 col151    VARCHAR(4000)  NULL,
 col152    VARCHAR(4000)  NULL,
 col153    VARCHAR(4000)  NULL,
 col154    VARCHAR(4000)  NULL,
 col155    VARCHAR(4000)  NULL,
 col156    VARCHAR(4000)  NULL,
 col157    VARCHAR(4000)  NULL,
 col158    VARCHAR(4000)  NULL,
 col159    VARCHAR(4000)  NULL,
 col160    VARCHAR(4000)  NULL,
 col161    VARCHAR(4000)  NULL,
 col162    VARCHAR(4000)  NULL,
 col163    VARCHAR(4000)  NULL,
 col164    VARCHAR(4000)  NULL,
 col165    VARCHAR(4000)  NULL,
 col166    VARCHAR(4000)  NULL,
 col167    VARCHAR(4000)  NULL,
 col168    VARCHAR(4000)  NULL,
 col169    VARCHAR(4000)  NULL,
 col170    VARCHAR(4000)  NULL,
 col171    VARCHAR(4000)  NULL,
 col172    VARCHAR(4000)  NULL,
 col173    VARCHAR(4000)  NULL,
 col174    VARCHAR(4000)  NULL,
 col175    VARCHAR(4000)  NULL,
 col176    VARCHAR(4000)  NULL,
 col177    VARCHAR(4000)  NULL,
 col178    VARCHAR(4000)  NULL,
 col179    VARCHAR(4000)  NULL,
 col180    VARCHAR(4000)  NULL,
 col181    VARCHAR(4000)  NULL,
 col182    VARCHAR(4000)  NULL,
 col183    VARCHAR(4000)  NULL,
 col184    VARCHAR(4000)  NULL,
 col185    VARCHAR(4000)  NULL,
 col186    VARCHAR(4000)  NULL,
 col187    VARCHAR(4000)  NULL,
 col188    VARCHAR(4000)  NULL,
 col189    VARCHAR(4000)  NULL,
 col190    VARCHAR(4000)  NULL,
 col191    VARCHAR(4000)  NULL,
 col192    VARCHAR(4000)  NULL,
 col193    VARCHAR(4000)  NULL,
 col194    VARCHAR(4000)  NULL,
 col195    VARCHAR(4000)  NULL,
 col196    VARCHAR(4000)  NULL,
 col197    VARCHAR(4000)  NULL,
 col198    VARCHAR(4000)  NULL,
 col199    VARCHAR(4000)  NULL,
 col200    VARCHAR(4000)  NULL,
 col201    VARCHAR(4000)  NULL,
 col202    VARCHAR(4000)  NULL,
 col203    VARCHAR(4000)  NULL,
 col204    VARCHAR(4000)  NULL,
 col205    VARCHAR(4000)  NULL,
 col206    VARCHAR(4000)  NULL,
 col207    VARCHAR(4000)  NULL,
 col208    VARCHAR(4000)  NULL,
 col209    VARCHAR(4000)  NULL,
 col210    VARCHAR(4000)  NULL,
 col211    VARCHAR(4000)  NULL,
 col212    VARCHAR(4000)  NULL,
 col213    VARCHAR(4000)  NULL,
 col214    VARCHAR(4000)  NULL,
 col215    VARCHAR(4000)  NULL,
 col216    VARCHAR(4000)  NULL,
 col217    VARCHAR(4000)  NULL,
 col218    VARCHAR(4000)  NULL,
 col219    VARCHAR(4000)  NULL,
 col220    VARCHAR(4000)  NULL,
 col221    VARCHAR(4000)  NULL,
 col222    VARCHAR(4000)  NULL,
 col223    VARCHAR(4000)  NULL,
 col224    VARCHAR(4000)  NULL,
 col225    VARCHAR(4000)  NULL,
 col226    VARCHAR(4000)  NULL,
 col227    VARCHAR(4000)  NULL,
 col228    VARCHAR(4000)  NULL,
 col229    VARCHAR(4000)  NULL,
 col230    VARCHAR(4000)  NULL,
 col231    VARCHAR(4000)  NULL,
 col232    VARCHAR(4000)  NULL,
 col233    VARCHAR(4000)  NULL,
 col234    VARCHAR(4000)  NULL,
 col235    VARCHAR(4000)  NULL,
 col236    VARCHAR(4000)  NULL,
 col237    VARCHAR(4000)  NULL,
 col238    VARCHAR(4000)  NULL,
 col239    VARCHAR(4000)  NULL,
 col240    VARCHAR(4000)  NULL,
 col241    VARCHAR(4000)  NULL,
 col242    VARCHAR(4000)  NULL,
 col243    VARCHAR(4000)  NULL,
 col244    VARCHAR(4000)  NULL,
 col245    VARCHAR(4000)  NULL,
 col246    VARCHAR(4000)  NULL,
 col247    VARCHAR(4000)  NULL,
 col248    VARCHAR(4000)  NULL,
 col249    VARCHAR(4000)  NULL,
 col250    VARCHAR(4000)  NULL,
 col251    VARCHAR(4000)  NULL,
 col252    VARCHAR(4000)  NULL,
 col253    VARCHAR(4000)  NULL,
 col254    VARCHAR(4000)  NULL,
 col255    VARCHAR(4000)  NULL,
 col256    VARCHAR(4000)  NULL,
 col257    VARCHAR(4000)  NULL,
 col258    VARCHAR(4000)  NULL,
 col259    VARCHAR(4000)  NULL,
 col260    VARCHAR(4000)  NULL,
 col261    VARCHAR(4000)  NULL,
 col262    VARCHAR(4000)  NULL,
 col263    VARCHAR(4000)  NULL,
 col264    VARCHAR(4000)  NULL,
 col265    VARCHAR(4000)  NULL,
 col266    VARCHAR(4000)  NULL,
 col267    VARCHAR(4000)  NULL,
 col268    VARCHAR(4000)  NULL,
 col269    VARCHAR(4000)  NULL,
 col270    VARCHAR(4000)  NULL,
 col271    VARCHAR(4000)  NULL,
 col272    VARCHAR(4000)  NULL,
 col273    VARCHAR(4000)  NULL,
 col274    VARCHAR(4000)  NULL,
 col275    VARCHAR(4000)  NULL,
 col276    VARCHAR(4000)  NULL,
 col277    VARCHAR(4000)  NULL,
 col278    VARCHAR(4000)  NULL,
 col279    VARCHAR(4000)  NULL,
 col280    VARCHAR(4000)  NULL,
 col281    VARCHAR(4000)  NULL,
 col282    VARCHAR(4000)  NULL,
 col283    VARCHAR(4000)  NULL,
 col284    VARCHAR(4000)  NULL,
 col285    VARCHAR(4000)  NULL,
 col286    VARCHAR(4000)  NULL,
 col287    VARCHAR(4000)  NULL,
 col288    VARCHAR(4000)  NULL,
 col289    VARCHAR(4000)  NULL,
 col290    VARCHAR(4000)  NULL,
 col291    VARCHAR(4000)  NULL,
 col292    VARCHAR(4000)  NULL,
 col293    VARCHAR(4000)  NULL,
 col294    VARCHAR(4000)  NULL,
 col295    VARCHAR(4000)  NULL,
 col296    VARCHAR(4000)  NULL,
 col297    VARCHAR(4000)  NULL,
 col298    VARCHAR(4000)  NULL,
 col299    VARCHAR(4000)  NULL,
 col300    VARCHAR(4000)  NULL,
 col301    VARCHAR(4000)  NULL,
 col302    VARCHAR(4000)  NULL,
 col303    VARCHAR(4000)  NULL,
 col304    VARCHAR(4000)  NULL,
 col305    VARCHAR(4000)  NULL,
 col306    VARCHAR(4000)  NULL,
 col307    VARCHAR(4000)  NULL,
 col308    VARCHAR(4000)  NULL,
 col309    VARCHAR(4000)  NULL,
 col310    VARCHAR(4000)  NULL,
 col311    VARCHAR(4000)  NULL,
 col312    VARCHAR(4000)  NULL,
 col313    VARCHAR(4000)  NULL,
 col314    VARCHAR(4000)  NULL,
 col315    VARCHAR(4000)  NULL,
 col316    VARCHAR(4000)  NULL,
 col317    VARCHAR(4000)  NULL,
 col318    VARCHAR(4000)  NULL,
 col319    VARCHAR(4000)  NULL,
 col320    VARCHAR(4000)  NULL,
 col321    VARCHAR(4000)  NULL,
 col322    VARCHAR(4000)  NULL,
 col323    VARCHAR(4000)  NULL,
 col324    VARCHAR(4000)  NULL,
 col325    VARCHAR(4000)  NULL,
 col326    VARCHAR(4000)  NULL,
 col327    VARCHAR(4000)  NULL,
 col328    VARCHAR(4000)  NULL,
 col329    VARCHAR(4000)  NULL,
 col330    VARCHAR(4000)  NULL,
 col331    VARCHAR(4000)  NULL,
 col332    VARCHAR(4000)  NULL,
 col333    VARCHAR(4000)  NULL,
 col334    VARCHAR(4000)  NULL,
 col335    VARCHAR(4000)  NULL,
 col336    VARCHAR(4000)  NULL,
 col337    VARCHAR(4000)  NULL,
 col338    VARCHAR(4000)  NULL,
 col339    VARCHAR(4000)  NULL,
 col340    VARCHAR(4000)  NULL,
 col341    VARCHAR(4000)  NULL,
 col342    VARCHAR(4000)  NULL,
 col343    VARCHAR(4000)  NULL,
 col344    VARCHAR(4000)  NULL,
 col345    VARCHAR(4000)  NULL,
 col346    VARCHAR(4000)  NULL,
 col347    VARCHAR(4000)  NULL,
 col348    VARCHAR(4000)  NULL,
 col349    VARCHAR(4000)  NULL,
 col350    VARCHAR(4000)  NULL,
 col351    VARCHAR(4000)  NULL,
 col352    VARCHAR(4000)  NULL,
 col353    VARCHAR(4000)  NULL,
 col354    VARCHAR(4000)  NULL,
 col355    VARCHAR(4000)  NULL,
 col356    VARCHAR(4000)  NULL,
 col357    VARCHAR(4000)  NULL,
 col358    VARCHAR(4000)  NULL,
 col359    VARCHAR(4000)  NULL,
 col360    VARCHAR(4000)  NULL,
 col361    VARCHAR(4000)  NULL,
 col362    VARCHAR(4000)  NULL,
 col363    VARCHAR(4000)  NULL,
 col364    VARCHAR(4000)  NULL,
 col365    VARCHAR(4000)  NULL,
 col366    VARCHAR(4000)  NULL,
 col367    VARCHAR(4000)  NULL,
 col368    VARCHAR(4000)  NULL,
 col369    VARCHAR(4000)  NULL,
 col370    VARCHAR(4000)  NULL,
 col371    VARCHAR(4000)  NULL,
 col372    VARCHAR(4000)  NULL,
 col373    VARCHAR(4000)  NULL,
 col374    VARCHAR(4000)  NULL,
 col375    VARCHAR(4000)  NULL,
 col376    VARCHAR(4000)  NULL,
 col377    VARCHAR(4000)  NULL,
 col378    VARCHAR(4000)  NULL,
 col379    VARCHAR(4000)  NULL,
 col380    VARCHAR(4000)  NULL,
 col381    VARCHAR(4000)  NULL,
 col382    VARCHAR(4000)  NULL,
 col383    VARCHAR(4000)  NULL,
 col384    VARCHAR(4000)  NULL,
 col385    VARCHAR(4000)  NULL,
 col386    VARCHAR(4000)  NULL,
 col387    VARCHAR(4000)  NULL,
 col388    VARCHAR(4000)  NULL,
 col389    VARCHAR(4000)  NULL,
 col390    VARCHAR(4000)  NULL,
 col391    VARCHAR(4000)  NULL,
 col392    VARCHAR(4000)  NULL,
 col393    VARCHAR(4000)  NULL,
 col394    VARCHAR(4000)  NULL,
 col395    VARCHAR(4000)  NULL,
 col396    VARCHAR(4000)  NULL,
 col397    VARCHAR(4000)  NULL,
 col398    VARCHAR(4000)  NULL,
 col399    VARCHAR(4000)  NULL,
 col400    VARCHAR(4000)  NULL,
 col401    VARCHAR(4000)  NULL,
 col402    VARCHAR(4000)  NULL,
 col403    VARCHAR(4000)  NULL,
 col404    VARCHAR(4000)  NULL,
 col405    VARCHAR(4000)  NULL,
 col406    VARCHAR(4000)  NULL,
 col407    VARCHAR(4000)  NULL,
 col408    VARCHAR(4000)  NULL,
 col409    VARCHAR(4000)  NULL,
 col410    VARCHAR(4000)  NULL,
 col411    VARCHAR(4000)  NULL,
 col412    VARCHAR(4000)  NULL,
 col413    VARCHAR(4000)  NULL,
 col414    VARCHAR(4000)  NULL,
 col415    VARCHAR(4000)  NULL,
 col416    VARCHAR(4000)  NULL,
 col417    VARCHAR(4000)  NULL,
 col418    VARCHAR(4000)  NULL,
 col419    VARCHAR(4000)  NULL,
 col420    VARCHAR(4000)  NULL,
 col421    VARCHAR(4000)  NULL,
 col422    VARCHAR(4000)  NULL,
 col423    VARCHAR(4000)  NULL,
 col424    VARCHAR(4000)  NULL,
 col425    VARCHAR(4000)  NULL,
 col426    VARCHAR(4000)  NULL,
 col427    VARCHAR(4000)  NULL,
 col428    VARCHAR(4000)  NULL,
 col429    VARCHAR(4000)  NULL,
 col430    VARCHAR(4000)  NULL,
 col431    VARCHAR(4000)  NULL,
 col432    VARCHAR(4000)  NULL,
 col433    VARCHAR(4000)  NULL,
 col434    VARCHAR(4000)  NULL,
 col435    VARCHAR(4000)  NULL,
 col436    VARCHAR(4000)  NULL,
 col437    VARCHAR(4000)  NULL,
 col438    VARCHAR(4000)  NULL,
 col439    VARCHAR(4000)  NULL,
 col440    VARCHAR(4000)  NULL,
 col441    VARCHAR(4000)  NULL,
 col442    VARCHAR(4000)  NULL,
 col443    VARCHAR(4000)  NULL,
 col444    VARCHAR(4000)  NULL,
 col445    VARCHAR(4000)  NULL,
 col446    VARCHAR(4000)  NULL,
 col447    VARCHAR(4000)  NULL,
 col448    VARCHAR(4000)  NULL,
 col449    VARCHAR(4000)  NULL,
 col450    VARCHAR(4000)  NULL,
 col451    VARCHAR(4000)  NULL,
 col452    VARCHAR(4000)  NULL,
 col453    VARCHAR(4000)  NULL,
 col454    VARCHAR(4000)  NULL,
 col455    VARCHAR(4000)  NULL,
 col456    VARCHAR(4000)  NULL,
 col457    VARCHAR(4000)  NULL,
 col458    VARCHAR(4000)  NULL,
 col459    VARCHAR(4000)  NULL,
 col460    VARCHAR(4000)  NULL,
 col461    VARCHAR(4000)  NULL,
 col462    VARCHAR(4000)  NULL,
 col463    VARCHAR(4000)  NULL,
 col464    VARCHAR(4000)  NULL,
 col465    VARCHAR(4000)  NULL,
 col466    VARCHAR(4000)  NULL,
 col467    VARCHAR(4000)  NULL,
 col468    VARCHAR(4000)  NULL,
 col469    VARCHAR(4000)  NULL,
 col470    VARCHAR(4000)  NULL,
 col471    VARCHAR(4000)  NULL,
 col472    VARCHAR(4000)  NULL,
 col473    VARCHAR(4000)  NULL,
 col474    VARCHAR(4000)  NULL,
 col475    VARCHAR(4000)  NULL,
 col476    VARCHAR(4000)  NULL,
 col477    VARCHAR(4000)  NULL,
 col478    VARCHAR(4000)  NULL,
 col479    VARCHAR(4000)  NULL,
 col480    VARCHAR(4000)  NULL,
 col481    VARCHAR(4000)  NULL,
 col482    VARCHAR(4000)  NULL,
 col483    VARCHAR(4000)  NULL,
 col484    VARCHAR(4000)  NULL,
 col485    VARCHAR(4000)  NULL,
 col486    VARCHAR(4000)  NULL,
 col487    VARCHAR(4000)  NULL,
 col488    VARCHAR(4000)  NULL,
 col489    VARCHAR(4000)  NULL,
 col490    VARCHAR(4000)  NULL,
 col491    VARCHAR(4000)  NULL,
 col492    VARCHAR(4000)  NULL,
 col493    VARCHAR(4000)  NULL,
 col494    VARCHAR(4000)  NULL,
 col495    VARCHAR(4000)  NULL,
 col496    VARCHAR(4000)  NULL,
 col497    VARCHAR(4000)  NULL,
 col498    VARCHAR(4000)  NULL,
 col499    VARCHAR(4000)  NULL,
 col500    VARCHAR(4000)  NULL
)
GO

----

ALTER TABLE extract_details  WITH CHECK ADD  CONSTRAINT fk_extract_details_01  FOREIGN KEY(extractId)
REFERENCES extract_config (id)
GO

----

ALTER TABLE extract_details CHECK CONSTRAINT fk_extract_details_01
GO

----
----

INSERT INTO extract_config
	(fileName, fileLocation, fileType, fileDescription, worksheetName, recordCount, rowsSkipped, includeHeader, generatedFrom, generatedFor, dateShared, created_at, updated_at, masked)
VALUES
	('My_Test_File.xlsx','C:\Testing', 'EXCEL', 'Comments about the extract', 'Worksheet Name', 100, 1, 1, 'Source of File', 'Destination of File', '12/02/2016', GETDATE(), NULL, 0 )

----
----

SELECT	*
FROM	extract_config

SELECT	extractId, COUNT(*)
FROM	extract_details
group by extractId

SELECT *
  FROM extract_details
  where extractid = 1

SELECT	ext.id,
		ext.fileLocation + '\' + ext.fileName,
		ext.worksheetName,
		ext.recordCount in_theory,
		CASE ext.includeHeader
			WHEN 1 THEN 
				tmp.rec_cnt -1 
			ELSE
				tmp.rec_cnt
		END in_practice
FROM	extract_config ext
		LEFT JOIN
		(SELECT	extractId, COUNT(*) rec_cnt
		FROM	extract_details
		GROUP BY extractId) tmp ON (tmp.extractId = ext.id)
ORDER BY ext.id, ext.fileName
